# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.pbxproj
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
DerivedData/
build/
.build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager (if used later)
.swiftpm/
Package.resolved

# Misc
*.log
*.tmp
